<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Suplidores de servicios
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <ion-list id="suplidoresDeServicios-list5">
    <ion-searchbar placeholder="" name="" id="suplidoresDeServicios-search1"></ion-searchbar>
    <ion-item id="suplidoresDeServicios-select1">
      <ion-label>
        Categoria
      </ion-label>
      <ion-select name=""></ion-select>
    </ion-item>

    <ion-item *ngFor="let suplidorp of suplidoresp" color="none" on-click="goToSuplidor(suplidorp.id)" id="suplidoresDeServicios-list-item3">
      <ion-thumbnail item-left>
        <img />
      </ion-thumbnail>
      <h2>
        {{suplidorp.nombre}}
      </h2>
      <ion-note item-bottom>
        {{suplidorp.categoria}}<br/>
        {{suplidorp.calificacion}}
      </ion-note>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item *ngFor="let suplidor of suplidores" color="none" on-click="goToSuplidor(suplidor.id)" id="suplidoresDeServicios-list-item4">

      {{suplidor.nombre}}
      <ion-note item-right>
        {{suplidor.categoria}}<br/>
        {{suplidor.calificacion}}
      </ion-note>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
