<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Suplidor
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11">
  <img img src={{suplidor.imagen}}/>
  <h1 id="suplidor-heading4" style="color:#000000;">
    {{suplidor.nombre}}
  </h1>
  <div id="suplidor-markdown12" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      {{suplidor.categoria}}
    </p>
  </div>
  <div id="suplidor-markdown15" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      {{suplidor.calificacion}}
      <ion-icon *ngIf="suplidor.calificacion >= 1" name="star" class="custom-star"></ion-icon>
      <ion-icon *ngIf="suplidor.calificacion >= 2" name="star" class="custom-star"></ion-icon>
      <ion-icon *ngIf="suplidor.calificacion >= 3" name="star" class="custom-star"></ion-icon>
      <ion-icon *ngIf="suplidor.calificacion >= 4" name="star" class="custom-star"></ion-icon>
      <ion-icon *ngIf="suplidor.calificacion >= 5" name="star" class="custom-star"></ion-icon>
    </p>
  </div>
  <div id="suplidor-markdown16" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      {{suplidor.telefono}}
    </p>
  </div>
  <div id="suplidor-markdown13" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      {{suplidor.descripcion}}
    </p>
  </div>
  <ion-list id="suplidor-list8">
    <ion-item *ngFor="let calificacion of calificaciones"  color="none" on-click="goToCalificacion(calificacion.id)" id="suplidor-list-item6">

      <ion-icon *ngIf="calificacion.calificacion > 3" name="thumbs-up" item-left></ion-icon>
      <ion-icon *ngIf="calificacion.calificacion == 3" name="more" item-left></ion-icon>
      <ion-icon *ngIf="calificacion.calificacion < 3" name="thumbs-down" item-left></ion-icon>
        {{calificacion.titulo}}
      <ion-note item-right>
        {{calificacion.calificacion}}
        <ion-icon *ngIf="calificacion.calificacion >= 1" name="star" class="custom-star"></ion-icon>
        <ion-icon *ngIf="calificacion.calificacion >= 2" name="star" class="custom-star"></ion-icon>
        <ion-icon *ngIf="calificacion.calificacion >= 3" name="star" class="custom-star"></ion-icon>
        <ion-icon *ngIf="calificacion.calificacion >= 4" name="star" class="custom-star"></ion-icon>
        <ion-icon *ngIf="calificacion.calificacion >= 5" name="star" class="custom-star"></ion-icon>
      </ion-note>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>

  <button id="suplidor-button9" ion-button color="positive" block on-click="goToCalificacionNueva(suplidor)">
    Calificar
  </button>
</ion-content>
